* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.container-card .card {
    position: relative;
    max-width: 250px;
    height: 135px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
    transition: 0.3s ease-in-out;
}

.container-card .card:hover {
    height: 320px;
}


.container-card .card .image {
    position: relative;
    width: 217px;
    height: 226px;
    top: -40%;
    left: 0px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
    z-index: 1;
}

.container-card .card .image img {
    max-width: 100%;
    border-radius: 15px;
}

.container-card .card .content {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: #111;
    text-align: center;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}

.container-card .card:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;

}