.num a {
    position: initial;
    color: #000
}

.linkcolor{
 color: #0BC9F1;
}

.heading {
    color: #fff;
    text-align: center;
}

.heading h1 {
    margin-bottom: 3rem;
    font-weight: 300;
    position: relative;
}

.heading h1:after {
    content: '';
    height: 2px;
    width: 2rem;
    position: absolute;
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%);
    background-color: #fff;
}

.container-credits .nav {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 -3rem 2rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.container-credits .nav:before,
.container-credits .nav:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    border: 0.75rem solid transparent;
    border-bottom: 0.75rem solid #f2f0f0;
    transform-origin: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.container-credits .nav:before {
    left: 0;
    transform: translateY(-0.45rem) rotate(135deg) translateX(-0.4rem);
}

.container-credits .nav:after {
    right: 0;
    transform: translateY(-0.45rem) rotate(-135deg) translateX(0.4rem);
}

.container-credits .nav a {
    display: inline-block;
    margin: 0 3rem;
    font-size: 2rem;
    color: #2980b9;
    opacity: 0.7;
    transition: 0.25s;
}

.container-credits .nav a:hover {
    opacity: 1;
}

.container-credits .list .num {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(0):before {
    content: '0';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(1):before {
    content: '1';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(2):before {
    content: '2';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(3):before {
    content: '3';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(4):before {
    content: '4';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(5):before {
    content: '5';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(6):before {
    content: '6';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(7):before {
    content: '7';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(8):before {
    content: '8';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(9):before {
    content: '9';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(10):before {
    content: '10';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(11):before {
    content: '11';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(12):before {
    content: '12';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(13):before {
    content: '13';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(14):before {
    content: '14';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(15):before {
    content: '15';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(16):before {
    content: '16';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(17):before {
    content: '17';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(18):before {
    content: '18';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(19):before {
    content: '19';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(20):before {
    content: '20';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(21):before {
    content: '21';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(22):before {
    content: '22';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(23):before {
    content: '23';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(24):before {
    content: '24';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(25):before {
    content: '25';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(26):before {
    content: '26';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(27):before {
    content: '27';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(28):before {
    content: '28';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(29):before {
    content: '29';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(30):before {
    content: '30';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(31):before {
    content: '31';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(32):before {
    content: '32';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(33):before {
    content: '33';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(34):before {
    content: '34';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(35):before {
    content: '35';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(36):before {
    content: '36';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(37):before {
    content: '37';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(38):before {
    content: '38';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(39):before {
    content: '39';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(40):before {
    content: '40';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(41):before {
    content: '41';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(42):before {
    content: '42';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(43):before {
    content: '43';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(44):before {
    content: '44';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(45):before {
    content: '45';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(46):before {
    content: '46';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(47):before {
    content: '47';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(48):before {
    content: '48';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(49):before {
    content: '49';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(50):before {
    content: '50';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(51):before {
    content: '51';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(52):before {
    content: '52';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(53):before {
    content: '53';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(54):before {
    content: '54';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(55):before {
    content: '55';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(56):before {
    content: '56';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(57):before {
    content: '57';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(58):before {
    content: '58';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(59):before {
    content: '59';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(60):before {
    content: '60';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(61):before {
    content: '61';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(62):before {
    content: '62';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(63):before {
    content: '63';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(64):before {
    content: '64';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(49):before {
    content: '49';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(49):before {
    content: '49';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(49):before {
    content: '49';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(49):before {
    content: '49';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(49):before {
    content: '49';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(49):before {
    content: '49';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}

.container-credits .list .num:nth-child(49):before {
    content: '49';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    transition: 0.25s;
}



.container-credits .list .num h3 {
    position: relative;
    left: -1.5rem;
    color: #3d3d3d;
    font-size: 1rem;
    transition: 0.25s;
    text-align: left;
    text-transform: capitalize;
}

.container-credits .list .num:hover {
    background-color: #fafafa;
    
}

.container-credits .list .num:hover:before {
    opacity: 0.2;
}

.container-credits .list .num:hover h3 {
    left: 1rem;
}

.message {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}