.menu {
    position: fixed;
    bottom: 0;
    z-index: 999;
    padding: 5px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    display: flex;
    background: linear-gradient(135deg, #099DC0, #56BAD1);
    box-shadow: 0 2px 12px 0 rgba(86, 186, 209, 0.5);
}

.menu a {
    color: #fff;
}

.fa {
    font-size: 24px;
    position: relative;
    top: 3px;
    opacity: 0.7;
}

.fa-cog {
    position: relative;
    left: 3px;
}

.menu_text {
    padding-left: 10px;
}

.menu_box {
    background: #000;
    box-shadow: 0 2px 12px 0 rgba(86,186,209, 0.5);
    border-radius: 4px;
    position: absolute;
    bottom: calc(100% + 14px);
    left: 0;
    width: 100px;
    padding: 10px;
    opacity: 0;
    -moz-transform: translateY(100%) translateX(-30%) scale(0.1);
    -ms-transform: translateY(100%) translateX(-30%) scale(0.1);
    -webkit-transform: translateY(100%) translateX(-30%) scale(0.1);
    transform: translateY(100%) translateX(-30%) scale(0.1);
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.menu_box:after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #000;
}

.menu_list {
    color: #fff;
    font-size: 10px;
    line-height: 18px;
    opacity: 0.7;
}

.menu_label {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    margin: 0 auto;
    line-height: 30px;
    color: #fff;
    overflow: hidden;
    display: flex;
    padding: 0 10px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu_label:hover .fa {
    opacity: 1;
}

.menu_text {
    opacity: 0;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu_input[type=radio] {
    display: none;
}

.menu_input[type=radio]:checked+.menu_label {
    background-color: rgba(255, 255, 255, 0.3);
    width: 112px;
}

.menu_input[type=radio]:checked+.menu_label .fa {
    opacity: 1;
}

.menu_input[type=radio]:checked+.menu_label .menu_text {
    opacity: 1;
}

.menu_input[type=radio]:checked+.menu_label+.menu_box {
    opacity: 1;
    -moz-transform: translateY(0) translateX(0) scale(1);
    -ms-transform: translateY(0) translateX(0) scale(1);
    -webkit-transform: translateY(0) translateX(0) scale(1);
    transform: translateY(0) translateX(0) scale(1);
}

.rabbit {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    fill: #fff;
}